#home-div {
    background-image: url("https://images.pexels.com/photos/167684/pexels-photo-167684.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    width: 100vw;
    height: 100vh;
    display: inline-block;
}

#name {
    font-size: 55px;
    letter-spacing: 4px;
    border: 5px;
    padding-top: 15%;
    color: white;
    text-align: center;
}

#subheader {
    font-size: 25px;
    color: white;
    letter-spacing: 1.5px;
}


/* mobile devices */
@media (max-width: 480px) {
    #name {
        margin-top: 50%;
    }
    #subheader {
        margin-top: 5%;
    }
}