* {
    margin: 0;
    font-family: "Raleway","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","sans-serif";
  }

  a:hover {
    color: #52B788;
  }

/* text highlighting color */
::selection {
  background: #52B788; 
}

body {
  background-image: url("img/topography.png");
}

.body-dark {
  background-image: url("img/dark-background.png");
}