/* project cards */
.project-cards {
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-color: white;
    height: 450px;
    margin-bottom: 35px;
}

.project-cards h1 {
    font-size: 1.5rem;
}

/* IMPORTANT: images must be a 2:1 width to height ratio. */
.project-cards img {
    height: 50%; 
    width: 100%;
}

.project-cards p {
    text-align: left;
    margin-left: 3%;
}

.project-cards .btn {
    color: white;
    text-align: center;
    background-color: #52B788;
}

.project-cards a:hover {
    background-color: #42966f;
}