/* nav bar */
#nav {
    display: inline-block;
    background-color: transparent;
    position: fixed;
    overflow: hidden;
}

/* nav links */ 
#navhome a {
    color: white;
    padding: 10px 15px;
    font-size: 1.5em;
    float: left;
    text-align: center;
    text-decoration: none;
    position: relative;
}

/* navigation list items */
#navhome li {
    display: inline;
    margin-right: .5rem;
}


/* navbar link hover */
.textlinkhome a:hover {
    color: #52B788;
}

