footer {
    display: inline-block;
    margin-left: 97vw;
    margin-bottom: 1%;
    margin-right: 2%;
}

footer a {
    color: rgb(201, 201, 201);
}

footer p {
    color: rgb(201, 201, 201);
    display: inline-block;
}

#email-home {
    color: white;
    margin-right: 20%;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
}


.fas:hover {
    color: #52B788;
    opacity: 0.7;
}

/* mobile devices */
@media (max-width: 480px) {
    footer {
        margin-right: 5%;
    }
}