#project-div {
    background-color: transparent;
    background-repeat:repeat;
    width: 100vw;
    height: 100vh;
}

/* header text */
#header-projects {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #343a40;
}

/* nav links */
.nav a {
    color: black;
}

/* div that holds cards */
#card-div {
    display: flex;
    width: 95%;
}

.project-cards p {
    font-family: "Roboto", sans-serif;
    letter-spacing: normal;
}

@media (min-width: 1000px)
{
    .project-cards {
        max-width: 40rem;
    }
}