/* // Projects.css
.project-card {
  width: 45%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.card-img {
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.card-body {
  height: 200px;
}

@media (max-width: 768px) {
  .project-card {
    width: 80%;
  }
} */