#about-div {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}

/* header text */
#header-about {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #343a40;
}

/* nav links */
.nav a {
    color: black;
}

/* blog containers */
#blog {
    overflow: hidden;
    display: block;
    background-color: white;
    max-width: 85vw;
    height: auto;
    padding: 30px;
    margin-bottom: 30px;
}

#portrait {
    width: 300px;
    display: inline;
    border: 5px;
    float: left;
    margin-right: 25px;
}

.about-text {
    text-align: left;
}

#blog h1 {
    font-size: 1.5rem;
}

#blog p {
    font-family: "Roboto", sans-serif;
    letter-spacing: normal;
    font-size: 1.2em;
}

/* contact div */
#contact {
    overflow: hidden;
    display: block;
    background-color: white;
    max-width: 85vw;
    height: auto;
    margin-bottom: 30px;
    padding: 30px;
}

#submit-button {
    color: white;
    background-color: #52B788;
}

/* download resume button */
#download-resume {
    color: white;
    display: block;
    width: fit-content;
    text-align: center;
    font-size: 1.3em;
    margin:auto;
    margin-bottom: 30px;
    background-color: #52B788;
}

#download-resume:hover {
    background-color: #42966f;
}


/* desktop devices */
@media only screen and (min-width: 1224px) {

}

/* mobile devices */
@media (max-width: 480px) {
    
    #blog p {
        font-size: 1rem;
    }
    #portrait {
        width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .about-text {
        text-align: left;
    }
}