/* header text */
#header-about {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #343a40;
}

/* nav links */
.nav a {
  color: black;
}

#picture {
  width: 100%;
  align-items: center;
  padding-left: 1%;
  padding-right: 1%;
}

.about-text {
  text-align: left;
  font-size: medium;
}

#about-hi {
  font-size: x-large;
  padding-top: 1%;
}

/* contact div */
#contact {
  overflow: hidden;
  display: block;
  background-color: white;
  max-width: 85%;
  height: auto;
  margin-bottom: 2.5%;
  padding: 2%;
}

#submit-button {
  color: white;
  background-color: #52b788;
}

/* download resume button */
#download-resume {
  color: white;
  display: block;
  width: fit-content;
  text-align: center;
  font-size: 1.3em;
  margin: auto;
  margin-bottom: 30px;
  background-color: #52b788;
}

#download-resume:hover {
  background-color: #42966f;
}

#blurb {
  display: flex;
  align-items: center;
  width: 85%;
  padding: 2%;
  padding-top: 2%;
  margin-bottom: 3%;
}

#blurbRow {
    padding-bottom: 0%;
}

#aboutBlurb {
    margin-right: 0;
    padding-right: 0;
}

#submitButton {
    background-color: #52b788;
    outline: #52b788;
}

/* mobile devices */
@media (max-width: 600px) {
  #blog p {
    font-size: 1rem;
  }

  figure {
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  figure #picture {
    width: 100%;
  }

  figcaption {
    color: transparent;
    font-size: 0px;
  }

  #blog h1 {
    margin-top: 25px;
  }

  .about-text {
    text-align: left;
  }
}
