#about-div {
    /*background-image: url("../../img/so-white.png");*/
    background-color: transparent;
    background-image: url("../../img/topography.png");
    width: 100vw;
    height: 100vh;
}

/* header text */
#header-about {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #343a40;
}

/* nav links */
.nav a {
    color: black;
}

/* blog containers */
#blog {
    overflow: hidden;
    display: block;
    text-align: center;
    background-color: white;
    max-width: 80vw;
    padding: 30px;
}

#portrait {
    width: 300px;
    display: inline;
    border: 5px;
    float: left;
    margin-right: 15px;
}

.about-text {
    text-align: justify;
}

#blog h1 {
    font-size: 1.5rem;
}

#blog p {
    font-family: "Roboto", sans-serif;
    letter-spacing: normal;
    font-size: 1.2em;
}

@media (min-width: 1000px)
{
    #blog {
        max-width: 80vw;
    }
}